# Ignorar caché de Python
__pycache__/
*.pyc

# Ignorar Base de Datos
gesai.db

# Ignorar reportes generados
generated_reports/

# Ignora archivos de entorno virtual (si usáis venv, poetry, etc.)
.venv/
venv/
.env

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
